/*/////////////////////GOOGLE NEXUS RESPONSIVE/////////////*/
@media screen and (max-width: 767px) {
  .flex_headercontainer {
    margin-top: 10px;
    padding: none;
  }
  .header_title {
    font-size: 40px;
    margin-left: 10px;
    width: 100%;
    display: inline;
  }
  .logo{
    width: 90px;
    height: 102px;
  }
  .menuA {
    font-size: 20px;
    line-height: 35px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .body_title {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    float: left
  }
  .words {
    margin-top: : 5px;
    margin-left: 5px;
    font-size: 16px;

  }
  .gallery1 {
    max-width: 330px;
    max-height: :
    margin-left: 30px;


  }
  .gallery2 {
    max-width: 330px;
    margin-left: 25px;
  }
  .gallery3 {
    max-width: 330px;
    height: 550px;
    margin-left: 25px;
    justify-content: center;
  }
  .gallery4 {
    max-width: 330px;
    height: 300px;
    margin-left: 20px;

  }
}

/*/////////////////////IPAD RESPONSIVE/////////////*/
@media screen and (min-width: 768px) and (max-width: 1209px) {
  .flex_headercontainer {
    margin-top: 10px;
    padding: none;
}
  .header_title {
    font-size: 80px;
    margin-left: 30px;
    width: 100%;
    display: block;

  }
  .topbar2 {
    width:100%;
    display: flex;
  }
  .logo {
    margin-top: 10px;
    display:flex;
  }
  .body_title {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .gallery1 {
    max-width: 25%;
    max-height: 215px;
  }
  .gallery2 {
    max-width: 40%;
    height: 215px;

  }
  .gallery3 {
    max-height: auto;
    max-height: 271px;
  }
  .gallery4 {
    max-width: 40%;
    height: 271px;
  }
}
