html
body
main {
  font-family: "Times New Roman", Times, serif;
  margin: 0px;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
/*/////////////////////HEADER TITLE/////////////*/
div.flex_headercontainer {
  display: flex;
  flex-wrap: no-wrap;
  /*align-content:flex-start;*/
  /*flex-direction: row;*/
  max-width: 100%;
  margin: 10px;
  padding: 10px;
  max-height: 240px;
}
.logo {
   display: inline-flex;
   flex-wrap: wrap;
   flex-direction: row;
   max-width: 80%;
   height: auto;
}

.header {
  display: inline-flex;
  width:100%;
}

div.topbar {
  order: 1;
  display: inline-flex;
}

div.topbar2 {
  order: 2;
  display:inline-flex;
  width: 50%;

}


.header_title {
  display: inline-flex;
  font-family: 'Amatic SC';
  font-size: 100px;
  width: 100%;
}

/*/////////////////////MAIN MENU BAR/////////////*/
.sections {
  list-style:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
/* unvisited Main Menu link */
.menuA {
  width: 100%;
  /*display: flex; /*block- change it to block if flex does not work*/
  font-family: 'Amatic SC';
  color: white;
  font-size: 45px;
  line-height: 55px;
  margin-right: 5px;
  text-decoration: none;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.main_nav {
  display: inline-flex;
  flex-direction: row;
  width: 15%;

}

/*/////////////////////MainBody/////////////*/
.flex_maincontainer1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 4px;
}

/*/////////////////////Main Body / Gallery/////////////*/

.body_title {
  font-family: 'Amatic SC';
  font-size: 50px;
  margin-left: 15px;
  max-width: 80%;
  display: inline-flex;
  margin-left: 15px
}
.words {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 18px;

}
.gallery {
  flex-wrap: wrap;
  display:inline-flex;
  flex-direction: row;
  max-width:100%;
  color: black;
  border-color: #ededed;
  border-width: thin;
  display: inherit;
}
.photocolumn {
  max-width:100%;
  max-height: 1000px;
  flex-direction: row;
}
.gallery1 {
  order: 1;
  max-width: 25%;
  max-height: 339px;
  margin-left: 15px;
  margin-right: 5px;
  display: inline-flex;
}
.gallery2 {
  order: 2;
  max-width: 40%;
  height: 339px;
  margin-left: 5px;
  margin-right: 5px;
}
.gallery3 {
  order: 3;
  max-width: 25%;
  max-height: 428px;
  margin-left: 15px;
  margin-right: 5px;
  margin-top: 15px;
}
.gallery4 {
  order: 4;
  max-width: 49%;
  height: 428px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
}
